.homepage__cardbutton{
  top:-40px ;
}

.homepage__smallcard .col-5{
  background-color: #C0C0C0;
}

.homepage__bigcard{
  background-color: #C0C0C0;
}

.card-img-top{
  height: 10rem;
  width: 10rem;
}