.homepage__background{
  z-index: -3;
  position: relative;
  top: -120px;
  left: -20px;
}

.homepage__background > img{
  min-width: 101vw;
}

.homepage__cardbutton{
  top:-120px ;
  height: 162px !important;
  width: 60%;
}
.homepage__smallcard .col-5{
  background-color: #C0C0C0;
}

.homepage__bigcard{
  background-color: #C0C0C0;
}

.card-img-top{
  height: 10rem;
  width: 10rem;
}

.col-4 .card{
  min-height: 220px;
}

.margin-section{
  margin-bottom: 162px;
}